<h1>New Recipe</h1>

<%= render 'form', :locals => { :recipe => @recipe, :recipeable => @recipeable, :course_name => @course_name } %>

<%= link_to 'Back', polymorphic_path([:admin, @recipeable, Recipe.new]) %>
