<h1>Edit Recipe</h1>

<%= render 'form', @recipe => :recipe, @recipeable => :recipeable %>
<% if can? :read, @recipe %>
  <%= link_to 'Show', polymorphic_path([@recipeable,@recipe]) %>
<% end %> |
<%= link_to 'Back', polymorphic_path([@recipeable, Recipe.new]) %>
