<h1>Recipes by course</h1>
<table>
  <tr>
    <th>Name</th>
  </tr>
  <% unless @courses.blank? %>
    <% @courses.each do |course|%>
      <tr>
        <td>
          <% if can? :read, Recipe %>
            <%= link_to course.name, course_recipes_path(course) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
