// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page-wrap {
  width: 80%;
  margin: 25px auto;
}

#header {
  padding-bottom: 50px;
  background-color: #719AA7;
}

body {
  background-color: #DCE6F7;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding:0;
  div {
    border-color: #DCE6F7;
  }
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}



#error_explaination {
  width: 450px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  color: red;
  h1 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 16px;
    margin: -7px;
    margin-bottom: 0px;
    color: red;
  }
  ul li {
    font-size: 12px;
    list-style: square;
    color: red;
  }
}

.multiline {
  white-space: pre-warp;
}

.links {
  float: right;
  font-size: 110%;
  width:50%;
  text-align: right;
  padding-right: 10%;
}

#home_link {
  float: left; 
  font-size: 120%;
  width:50%;
  padding-left:10%;
}

div#usersite_link{
  float:right;
  font-size: 110%;
  width:9%;
  text-align:center;
  margin-top: 4px;
  margin-right: 10%;
  margin-left: 100px;
}

#error_messages {
  color: #ff0000;
}

#banner {
  width: 80%;
  #banner-heading {
    font-size: 50px;
    font-family: 'Times New Roman';
    margin-top: 10px;
    top: 0;
    left: 0;
    postion: relative;
  }
}

.table {
  display: table;
  margin: 0 auto;
}

ol#admin-site-navigation {
  background-color: rgba(126, 131, 131, 0.9);
  border-left: 1px solid #717575;
  border-top: 1px solid #B1B4B4;
  border-right: 1px solid #B1B4B4;
  border-bottom: 1px solid #717575;
  height: 32px; 
  font-size: 12px; 
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 25px;
  align-content: center;
  li {
    display: inline;
  }
  li a {
    padding: .2em 1em;
    color: #DCE6F7;
  }
}

#recipe_name {
  width: 520px;
}

#recipe_information {
  width: 520px;
}

#recipe-details {
 margin: 0 auto;
 position: relative;
 height: 200px;
  #image-container {
    width: 200px;
    position:absolute;
    float: left;
    overflow: hidden;
    padding-top: 10px;
  }

  #recipe-amounts {
    width: 550px;
    position: absolute;
    float: right;
    overflow: hidden;
    margin-left: 220px;   
  }
}

textarea#recipe_preparation_method {
  height: 200px;
  width: 520px;
}

#error_preparation_time {
  color: red;
}

#error_cooking_time {
  color: red;
}

.container-inner {
  padding-left: 15px;
  width: 800px;
  line-height: 2em;
  position: relative;
  padding-top: 15px;
}

#recipe_form .action input{
    width:100px; 
    text-align:center;
    margin-left: 220px;
}
