// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea {
  width: 30%;
}

input {
  width: 30%;
}

#page-wrap {
  padding-top: 1%;
  width: 80%;
  margin: 0 auto;
}

#header {
  padding-bottom: 50px;
  background-color: #719AA7;
}

body {
  background-color: #DCE6F7;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding:0;
  div {
    border-color: #DCE6F7;
  }
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}



#error_explaination {
  width: 450px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  color: red;
  h1 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 16px;
    margin: -7px;
    margin-bottom: 0px;
    color: red;
  }
  ul li {
    font-size: 12px;
    list-style: square;
    color: red;
  }
}

.multiline {
  white-space: pre-warp;
}

#signout_link {
  float: right;
  font-size: 110%;
  width:50%;
  text-align: right;
  padding-right: 10%;
}

#home_link {
  float: left; 
  font-size: 120%;
  width:50%;
  padding-left:10%;
}

#error_messages {
  color: #ff0000;
}

#banner {
  width: 80%;
  #banner-heading {
    font-size: 50px;
    font-family: 'Times New Roman';
  }
}

.table {
  display: table;
  margin: 0 auto;
}

#admin-site-navigation {
  background-color: rgba(126, 131, 131, 0.9);
  height: 35px;  
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  align-content: center;
  li {
    display: inline;
  }
  li a {
    padding: .2em 1em;
    color: #DCE6F7;
  }
}

#recipe-details {
 margin: 0;
  #image-container {
    width: 30%;
    float: left;
    overflow: hidden;
  }

  #recipe-amounts {
    width: 70%;
    float: left;
    overflow: hidden;
    margin-left: -15%;
  }
}

#error_preparation_time {
  color: red;
}

#error_cooking_time {
  color: red;
}
