<h1>Edit Course</h1>

<%= render 'form', :course => @course %>

<% if can? :read, @course %>
  <%= link_to t('generic.show'), admin_course_path %>
<% end %> |
<%= link_to t('generic.back'), admin_courses_path %>
